.infocard {
    margin-bottom: 0px;
    min-width: 300px;
    width: 100%;
    max-width: 40vh;
    max-height: 30vh;
    height: fit-content;
    background: #8FD14F;
    word-break: break-all;
    /* word-wrap: break-word; */
}

.name {
    color: white;
}